/* Website color palette
--harvest-gold: #DF940Cff;
--walnut-brown: #695C50ff;
--licorice: #160400ff;
--bronze: #C17E15ff;
--french-gray: #ADAEB2ff; */


body {
    background-color: #ADAEB2ff;
}

.hero {
    width: 100%;
    height: 480px;
}

.col-sm {
    border: 3px solid #C17E15ff;
    height: 200px;
    margin: 10px;
    align-items: center;
}

.colHead {
    padding-left: 118px;
}